<div class="span{{ width }} block-group-container">
    <div class="well row-fluid raindrop-layout-droppable" data-target="{{ layout }}">
        <p class="no-sort" style="color:#ccc; margin-top: 14px; text-align: center">DROP HERE FOR "{{ layout|upper }}" POSITION</p>
    </div>
    <div class="row-fluid {{ layout }}-layout raindrop-layout-sortable" data-target="{{ layout }}">
        {% for block in object.getBlocks() %}
            {% if block.getLayout() == layout %}
                {% include 'RaindropPageBundle:Page:page_block.html.twig' with { 'block': block, 'first_level': 1 } %}
            {% endif %}

            {% for child in block.getChildren() %}
                <div id="editModal{{ child.getId() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-body"></div>
                </div>

                <div id="previewModal{{ child.getId() }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-body"></div>
                </div>
            {% endfor %}

        {% endfor %}
    </div>
</div>


