<div id="block-{{ block.getId() }}" data-block="{{ block.getName() }}" class="row-fluid draggable-block" data-id="{{ block.getId() }}">
    <div class="span12">
        <div class="row-fluid">
        {% for variable in block.getVariables() %}
            <p>{{ variable.getName() }}: <strong>{{ variable.getContent() }}</strong></p>
        {% endfor %}
        </div>


        {# only nest 1 level of block (on admin interface) #}
        {% if block.hasChildren() or first_level %}
        <div class="well row-fluid span11 top-layout raindrop-layout-droppable raindrop-layout-sortable" data-target="{{ 'block-' ~ block.getId() }}">
            <p class="no-sort" style="color:#ccc; margin-top: 14px; text-align: center">DROP CHILDREN HERE</p>
            {% for child in block.getSortedChildren() %}
                {% include 'RaindropPageBundle:Page:page_block.html.twig' with { 'block': child, 'first_level': false } %}
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <div class="pageBlockToolbar">
        <span class="label label-inverse">{{ block.getName() }} [ {{ block.getTemplate() }} ]</span>
        <a title="Delete block" data-toggle="modal" data-content="
           WARNING: You are about to delete the block, its variables and all its children.<br><br><a href='javascript:pageAdmin.removePopover({{ block.getId() }});'>Cancel</a>  <a href='javascript:pageAdmin.removeBlock({{ block.getId() }});' class='pull-right btn btn-danger'>Delete</a><br>
           " class="pull-right remove-popover raindrop_tips" href="#" data-original-title="Confirm"><i class="icon-remove"></i></a>

        <a data-toggle="modal" data-target="#previewModal{{ block.getId() }}" href="{{ path('raindrop_admin_preview_block', { 'id': block.getId() }) }}" title="Preview" class="raindrop-block-preview pull-right raindrop_tips"><i class="icon-eye-open"></i></a>

        <a title="Edit content" class="pull-right raindrop_tips" data-toggle="modal" href="{{ path('admin_raindrop_page_block_edit', { id: block.getId() }) }}" data-target="#editModal{{ block.getId() }}">
            <i class="icon-pencil"></i>
        </a>

{#
        <a title="{{ block.getName() }}" class="pull-right raindrop_tips"><i class="icon-info-sign"></i></a>
#}
        <a title="Drag me" class="drag-drop pull-right raindrop_tips"><i class="icon-resize-vertical"></i></a>

    </div>
</div>
