<div class="span{{ width }}">
    <div class="well row-fluid raindrop-layout-droppable" data-target="{{ layout }}">
        <p style="color:#ccc; margin-top: 14px; text-align: center">DROP HERE FOR "{{ layout|upper }}" POSITION</p>
    </div>
    <div class="row-fluid {{ layout }}-layout raindrop-layout-sortable" data-target="{{ layout }}">
        {% for block in object.getChildren() %}
            {% if block.getLayout() == layout %}
                {% include 'RaindropPageBundle:Page:page_block.html.twig' with { 'block': block, 'first_level': 1 } %}
            {% endif %}
        {% endfor %}
    </div>
</div>
