{% block extensible_array_widget %}
    {% spaceless %}

        <div class="controls control-group">

            <select class="raindropFormAddFieldSelect">
                <option value="text">text</option>
                <option value="entity">entity</option>
                <option value="service">service</option>
            </select>

            <input class="raindropFormAddFieldName" style="margin-left:10px;" type="text" name="field_name" />

            <a class="btn raindropFormAddFieldButton" style="margin-left:10px;" class="btn" onclick="raindropFormAddField(this)" href="javascript:;">Add variable</a>
        </div>

        <div class="raindropFormAddFieldContainer control-group" {{ block('widget_container_attributes') }} data-prototype="{{ form_row(prototype)|e }}">

            {% for group, children in form_widgets %}
                <div class="raindropFormGroup">
                    <div class="controls raindropLabelContainer">
                        <a title="Remove this variable" class="pull-left raindropRemoveIcon raindrop_tips" onclick="raindropFormRemoveField(this)"><i class="icon-remove"></i></a>
                        <label><strong>{{ group }} (type: {{ children['type'] }})</strong></label>
                    </div>
                    {% for label, name in children['children'] %}
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural raindropInput">
                        {{ form_label(form[name]) }}
                        {{ form_widget(form[name]) }}
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
        {% include 'RaindropPageBundle:Form:extensible_array_js.html.twig' %}
    {% endspaceless %}
{% endblock %}

{% block multiple_text_widget %}
    {% spaceless %}
        {% for val in value %}
            <input class="span5" type="text" {{ block('widget_attributes') }} value="{{ val }}" /><br>
        {% endfor %}
        <input class="span5" type="text" {{ block('widget_attributes') }} value="" />
    {% endspaceless %}
{% endblock %}

{% block nested_choice_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock nested_choice_widget %}


{% block nested_textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock nested_textarea_widget %}


{% block nested_text_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock nested_text_widget %}
